<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="bg-red-500 flex justify-between p-5">
      <div>
        <a href="/home">LOGO</a>
      </div>
      <div>
        <input type="text" />
      </div>
      <div class="flex">
        <a href="/cart">cart</a>
        <p class="px-2">profile</p>
      </div>
    </nav>
    <div class="text-center">
      <p>{{this.username}}</p>
      <p>{{this.surname}}</p>
      <p>{{this.email}}</p>
    </div>

    <h2 class="text-center font-bold my-10">PRODUCTS</h2>
    <section class="container m-auto grid grid-cols-3 gap-4 text-center">
      {{#each products}}
        <div class="bg-green-500">
          <img src="../../static/{{this.prod_image}}" alt="" />
          <p>{{this.prod_name}}</p>
          <p>{{this.description}}</p>
          <p>${{this.price}}</p>
          <p>{{this.stock}} in stock</p>
          <form action="/cart/{{this._id}}" method="post">
            <button
              type="submit"
              class="bg-orange-200 my-2"
              id="add-to-cart"
            >add to cart</button>
          </form>
        </div>
      {{/each}}
    </section>
  </body>
</html>